.container_disciplina {
    background-color: #fcacfc;
    width: 45%;
    min-width: 600px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: absolute;
    /* top: 50%;  */
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 5px;
    padding: 20px;
}

.campos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.icons{
    display: flex;
    flex-direction: row;
}

.col1_d{
    width: 25px;

}
.col2_d{
    width: 30px;

}
.col3_d{
    display: flex;
    justify-content: center;
    width: 50px;
}
.col4_d{
    margin-left: 50px;
    width: 300px;
}
.col5_d{
    width: 150px;
}
.col6_d{
    width: 70px;
}
.col7_d{
    width: 150px;
}

.col8_d{
    width: 25px;
}

.footer_table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d874f7;
    width: 95%;
    height: 50px;
    border-radius: 10px;
}

.btn1{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: azure;
    margin-left: 10px;
}
.btn2{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: azure;
    margin-right: 10px;
}

.id input{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    padding-left: 5px;
}

.nome input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding-left: 5px;
}

.editt{
    background-color: #74f78a;
}

.delete{
    background-color: aqua;
}