
.container_professor {
    background-color: #fcacfc;
    width: 55%; /* Aumentei a largura */
    height: 500px; /* Aumentei a altura */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 5px;
    padding: 30px; /* Aumentei o padding */
}


.campos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.icons{
    display: flex;
    flex-direction: row;
}

.col1_professor{
    /* background-color: aqua; */
    width: 2px;

}
.col2_professor{
    /* background-color: rgb(209, 197, 37); */
    width: 25px;
}
.col3_professor{
    /* background-color: aqua; */
    margin-left: 0px;
    display: flex;
    justify-content: center;
    width: 150px;
}
.col4_professor{
    /* background-color: rgb(209, 197, 37); */
    width: 150px;
}
.col5_professor{
    /* background-color: aqua; */
    width: 150px;
}
.col6_professor{
    /* background-color: rgb(156, 151, 81); */
    width: 160px;

}
.col7_professor{
    /* background-color: aqua; */
    width: 150px;
}

.col8_professor{
    /* background-color: rgb(209, 197, 37); */
    width: 25px;
}

td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
    width: -2px;
}

.footer_table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d874f7;
    width: 95%;
    height: 50px;
    border-radius: 10px;
}

.btn1{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: azure;
    margin-left: 10px;
}
.btn2{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: azure;
    margin-right: 10px;
}

.id input{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    padding-left: 5px;
}

.nome input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding-left: 5px;
}