.container_home {
    background-color: rgb(214, 152, 255);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 20px;
}

.button_grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Definindo duas colunas */
    gap: 10px; /* Espaço entre os botões */
    width: 100%; /* Garante que os botões ocupem toda a largura */
    max-width: 300px; /* Limita a largura da área dos botões */
    margin-top: 20px;
}

.button {
    background-color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;
    text-align: center; /* Garante que o texto esteja centralizado */
}
